<h1>Monsters</h1>
<br>
<% @monsters.each do |monster| %>
  <h2><%= link_to monster.name, "/monsters/#{monster.id}" %>  </h2>
  <h2> <%= button_to "Delete Monster", "/monsters/#{monster.id}", method: :delete %> </h2>
  <p> <%= button_to "Edit Monster", "/monsters/#{monster.id}/edit", method: :get %> </p>
<% end %>
