<h1> <%= @monster.name %> </h1>
<h2> <%= button_to "Edit Monster", "/monsters/#{@monster.id}/edit", method: :get %> </h2>
<p>Enraged: <%= @monster.enraged %></p>
<p>Health: <%= @monster.health %></p>
