<h1>Roles</h1>
<br>
<div class="roles">
<% @roles.each do |role| %>
  <span class ="role">
    <h3><%= role.name %></h3>
    <p><%= "Created at: #{role.created_at}" %></p>
    <%= button_to 'Edit', "/roles/#{role.id}/edit", method: :get, :id => "Edit_#{role.id}"%>
  </span>
<% end %>
</div>
<br>
<h3><%= link_to 'Create New Role', '/roles/new' %></h3>
