<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <body>
    <fieldset>
      <legend>Create New Role</legend>
      <form class="create_role" action="index.html" method="post">
        <label for="name">Name</label>
        <input type="text" id="name" name="" value=""><br>
        <br>
        <label for="unlocked">Unlocked?</label>
        <select class="unlocked" id = 'unlocked' name="unlocked">
          <option value= false>False</option>
          <option value= true>True</option>
        </select>
        <br>
      </form>
    </fieldset>
  </body>
</html>
